<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AspNetConnectionString" connectionString="Data Source=DESKTOP-ERU25D6;Initial Catalog=fileBase;User Id=user; Password=12345;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="AspNetConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" applicationName="AspNet" requiresUniqueEmail="false"
             passwordFormat="Hashed" maxInvalidPasswordAttempts="99" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="100" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="AspNet" connectionStringName="AspNetConnectionString"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfServiceFile/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
        contract="ServiceReference1.IFileService" name="BasicHttpBinding_IFileService" />
    </client>
  </system.serviceModel>
</configuration>

<!--maxReceivedMessageSize = "104857600"-->